<%- include('partials/header') %>
<div class="container mt-5">
    <h2>Home</h2>
    <div class="row">
        <!-- Repeat for tickets -->
        <div class="col-md-3">
            <div class="card">
                <img src="/images/placeholder.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ticket Title</h5>
                    <p class="card-text">Short description</p>
                    <a href="/popup" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
